:root {
    /* Fonts */
    --font:     Roboto,  sans-serif;
    --alt-font: Raleway, sans-serif;
    
    /* Colors */
    --main:   white;
    --accent: hsl(200, 0%, 30%);
    --c0:     color-mix(in srgb, var(--accent)  80%, white);
    --c1:     color-mix(in srgb, var(--accent) 100%, black);
    --c2:     color-mix(in srgb, var(--accent)  80%, black);

    background-color: black;
}
#alt {
    font-family: var(--alt-font, monospace);
}
@media screen and (orientation: portrait) {
    main {
        flex-flow: column nowrap;
    }
}
@media screen and (min-width: 30em) and (orientation: landscape) {
    main {
        flex-flow: row wrap;
    }
}

* {
    font-family: var(--font, sans-serif);
    color: white;
}

h1 {
    position: sticky;
    top: 0px;
}

i {
    position: relative;
    left: 40px;
}

fieldset * {
    background-color: black;
}

a[href^="https://"][href$=".org"] {
  color: green;
}

main {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-family: monospace;
    background-color: rgba(0,0,0,0);
}

.meeting {
    display: block;
    background-color: var(--c1, blue);
    width: fit-content;
    padding: 1px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
    margin: auto;
}

.meeting h2 {
    text-decoration: underline 3px;
}

h2, h3 {
    text-align: center;
}

h2:has(+ h3) {
    color: var(--main, white);
}

button + input {
    background-color: color(srgb 0.7 0 0);
    border: 1px solid #ff0000;
    border-radius: 4px;
    min-width: 60px;
}
button + input:hover {
    background-color: color(srgb .8 .1 .1);
    border: 1px solid rgb(139, 0, 0);
}
button + input:active {
    background-color: color(srgb 1 0.4 0.4);
    border: 1px solid color-mix(in srgb, darkred 50%, black);
}

section.item {
    background-color: var(--c2);
    border-color:     var(--c2);
    border-radius: 8px;
    border-width: 10px;
    border-style: solid;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0pt;
    margin-right: 0mm;
    & li {
        text-align: justify;
        max-width: fit-content;
    }
}
h4 {
    margin-top: 0px;
    margin: 0pt 0pt 0pt 0pt
}

.attendence {
    display: flex;
    justify-content: center;
}
.attendence-list {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-auto-flow: dense row;
    grid-auto-columns: min-content;
    gap: 4px;
    background-color: var(--c2);
    padding: 4px;
    border-radius: 6px;
    width: fit-content;
}

.attendence-list > div {
    background-color: var(--c0);
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    border-radius: 0.3rem;
}

#attendence-list-head {
    background-color: #0000;
}

.meeting-info {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: auto;
    width: 100%;
}

footer nav {
    outline: dotted blue;
    width: fit-content;
    height: 1.3rem;
}

.selected ~ a {
    text-decoration: wavy underline;
}

.hidden {
    display: none;
}