:root {
    --font:     Roboto,  sans-serif;
    --alt-font: Raleway, sans-serif;

    --accent: hsl(200, 100%, 73%);
    --c0:     color-mix(in srgb, var(--accent)  50%, white);
    --c1:     color-mix(in srgb, var(--accent) 100%, black);
    --c2:     color-mix(in srgb, var(--accent)  90%, black);
}
#alt {
    font-family: var(--alt-font, monospace);
}
@media screen and (orientation: portrait) {
    main {
        flex-flow: column nowrap;
    }
}
@media screen and (orientation: landscape) {
    main {
        flex-flow: row wrap;
    }
}

* {
    font-family: var(--font, sans-serif);
    /*
    background-color: black;
    color: white;
    */
}

a[href^="https://"][href$=".org"] {
  color: green;
}

main {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-family: monospace;
}

.meeting {
    background-color: var(--c1, blue);
    width: fit-content;
    padding: 1px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: black;
    margin: auto;
}

.meeting h2 {
    text-align: center;
    text-decoration: underline 3px;
}
h3 {
    text-align: center;
}

/*
section.attendence {
    outline: auto;
    outline-offset: 1px;
    outline-width: 1px;
    outline-color: 10px;
    outline-style: dashed;
}
*/

section.item {
    background-color: var(--c2);
    border-color:     var(--c2);
    border-radius: 8px;
    border-width: 10px;
    border-style: solid;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
h4 {
    margin-top: 0px;
}
li {
    text-align: justify;
}

.attendence {
    display: flex;
    justify-content: center;
}
.attendence-list {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-auto-flow: dense row;
    gap: 4px;
    background-color: var(--c2);
    padding: 4px;
    border-radius: 6px;
    width: fit-content;
}

.attendence-list > div {
    background-color: var(--c0);
    text-align: center;
    padding: 2px 6px;
    font-size: 16px;
    border-radius: 0.5rem;
}

#attendence-list-head {
    background-color: #0000;
}

.meeting-info {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-grow: 1;
    flex-flow: wrap;
    /*background-color: black;*/
}